@using DotA.WebEdit.Models;

@{
    Layout = null;
}

@model DynSingleView<Effect>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateEffect</title>
</head>
<body>
    @using (Html.BeginForm("CreateEffect", "Hero"))
    {
        Html.AntiForgeryToken();

        <table border="1" style="margin-left:10px">
            @{
                var prefix = $"{nameof(Model.Item)}.";
                foreach (var dv in Model.DisplayValues)
                {
                    string propName = $"{prefix}{dv.PropertyName}";

                    <tr>
                        <td>@dv.PropertyDisplayName</td>
                        <td>
                            @if (dv.PrimaryKey)
                            {
                                //No updates work if we don't bind the primary key
                                @Html.Hidden(propName);
                            }

                            @if (dv.Type == DisplayValueType.DecimalList)
                            {
                                var value = dv.GetValue<List<decimal>>(Model.Item);
                                var itemCount = value.Count() == 0 ? 4 : value.Count();
                                var includeLabels = itemCount != 1;
                                @Html.Partial("ListEdit",
                                value,
                                new ViewDataDictionary { { "Name", dv.PropertyName },
                                                         { "ModelPrefix", prefix },
                                                         { "IncludeLabels", includeLabels },
                                                         { "LabelPrefix", "Lvl" },
                                                         { "ItemCount", itemCount },
                                                         { "Disabled", !dv.Editable}
                                });
                            }
                            else
                            {
                                var attribs = dv.Editable ? null : new { disabled = "disabled" };
                                @Html.Editor(propName, new { Name = dv.PropertyName, ModelPrefix = prefix, optionSet = dv.SelectionOptions, htmlAttributes = attribs });
                            }
                        </td>
                    </tr>
                }
            }
            <tr></tr>
        </table>
        <input type="submit" name="Add Effect" />
        <p />
                }
</body>
</html>
