
@{
    Layout = null;
}

@model DotA.WebEdit.Models.DynSingleView<DotA.Model.Hero>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hero</title>
</head>
<body>
    <table>        
        <tr>
            @{
                foreach (var dv in Model.DisplayValues)
                {
                    @:<td>@dv.PropertyName</td>
                }
            }
        </tr>
        <tr>
        @foreach (var dv in Model.DisplayValues)
        {
            <td>@dv.GetValue(Model.Item)</td>
        }
    </tr>
    </table>
</body>
</html>
