@model DotA.WebEdit.Models.DynMultiView<DotA.Model.Hero>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heroes</title>
</head>
<body>
    <h1>Heroes</h1>
    <table>
        <tr>
            @{
                foreach (var dv in Model.DisplayValues)
                {
                    <td><strong>@dv.PropertyName</strong></td>
                }
            }
        </tr>
        @{
            foreach (var o in Model.Objects)
            {
                @:<tr>
                foreach (var dv in Model.DisplayValues.OrderByDescending(dv => dv.PropertyName == "Name"))
                {
                    if (dv.PropertyName == "Name")
                    {
                        var heroName = dv.GetValue(o);
                        <td>@Html.ActionLink(dv.GetValue(o), "Hero", "Hero", new { heroName }, null)</td>
                    }
                    else
                    {
                        <td>@dv.GetValue(o)</td>
                    }
                }
                @:</tr>
            }
        }
    </table>
</body>
</html>
